body {
  background-color: #20201e;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2rem;
  color: white;
}

.App a {
  color: white;
}
